.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}
.forms {
  border-radius: 10px;
  border: 2px solid aqua;
  padding: 70px;
  backdrop-filter: blur(20px);
  gap: 10px;
  display: flex;
  flex-direction: column;
  gap: 70px;
  .input__wrapper {
    display: flex;
    align-items: center;
    gap: 150px;
    .count__wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
  }
  .reset__btn {
    width: 80px;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    opacity: 0.5;
    transition: 0.5s;
  }
}
.App {
  width: 100%;
  height: 100vh;
  // background-color: aqua;
  background: url(../assets/images/bacground2.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
h2 {
  color: white;
  font-size: 30px;
}
input {
  border: none;
  border: 2px solid aqua;
  outline: none;
  border-radius: 5px;
  width: 40px;
  backdrop-filter: blur(5px);
  height: 40px;
}
button {
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: aqua;
  backdrop-filter: blur(5px);
  color: white;
  font-size: 18px;
  width: 40px;
  height: 40px;
}
.reset__btn:hover {
  width: 120px;
  transform: scaley(1.1);
  opacity: 1;
  color: green;
}
